@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

:root {
  --orange: #FC9935;
  --green: #00A900;
  --red: #FF0035;
  --dark: #022B3A;
  --background: #05668d;
}

body {
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'New Super Mario Font U';
  font-weight: normal;
  background: var(--background);
  background-image: src('../assets/images/background.png');
  background-size: cover;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
